body {
  background : -webkit-linear-gradient(left, #f7c588, #e082d3, #f25b1a);
  background-size: cover;
}
.wrapper-login{
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translateY(20%);
}
.icon-login i{
  font-size: 60px;
  align-items: center;
  text-align: left;
  margin-bottom: 20px;
}
.icon-login p{
  font-size: 40px;
  align-items: center;
  text-align: left;
  font-weight: 300;
}
.login{
  background-color: white;
  width: 350px;
  padding: 30px 20px;
  text-align: center;
  border-radius: 9px;
}
.login i{
  font-size: 50px;
  margin-bottom: 30px;
  color: #ff7843;
}
.login h1{
  font-size: 28px;
  margin-bottom: 30px;
}
.login .inputs{
  display: flex;
  flex-direction: column;
}
.login .inputs input{
  width: 100%;
  height: 40px;
  margin: 10px 0;
  border-radius: 5px;
}
.login .inputs button{
  background: -webkit-linear-gradient(left, #f7c588, #e082d3, #f25b1a);
  color: aliceblue;
  width: 50%;
  transform: translateX(50%);
  margin: 20px 0;
}
.login .inputs button a{
  color: rgb(0, 0, 0);
}
 p.center {
  text-align: left;
  transform: transformY(20%);
  transform : transformX(30%);
  font-size: 40px;
}