a:hover{
  text-decoration: none;
}
a{
  color: #212529;
}
button:focus, button:focus-visible{
  outline: none;
  box-shadow: none;
}
header{
  background : -webkit-linear-gradient(left, #f7c588, #e082d3, #f25b1a);
  padding: 10px 0;
  font-size: 20px;
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.logo i{
  font-size: 30px;
}
.logout a{
  color: #4f2161;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.logout i{
  font-size: 20px;
  margin-right: 7px;
}
.wrapper-dashboard{
  transform: translateY(20%);
  align-items: center;
}
.list-dashboard .wrapper-list{
  border: 1px solid #ccc;
  border-radius: 10px;
}
.list-dashboard h2{
  font-size: 18px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  text-transform: uppercase;
  background : -webkit-linear-gradient(left, #f7c588, #e082d3, #f25b1a);
  ;
  color: #252424;
  border-radius: 10px;
}
.list-dashboard ul{
  list-style-type: none;
  padding-left: 20px;
}
.list-dashboard ul li{
  position: relative;
  margin-bottom: 10px;
}
.list-dashboard ul li::before{
  content: "";
  height: 2px;
  width: 50px;
  background-color: #677de0;
  position: absolute;
  top: 24px;
  left: 0px;
  display: block;
}
.content-dashboard{
  
}
.content-dashboard .item{
  text-align: center;
  font-size: 24px;
  margin: 30px 0;
}
.content-dashboard .item i{
  font-size: 70px;
  margin-bottom: 10px;
  color: #000000;
}
.content-dashboard .item p{
  color: #206375;
}