
.wrapper-dashboard{
  align-items: unset !important;
  transform: translateY(10%) !important;
}
.list-dashboard ul a.active li::before{
  width: 100px;
}
.content-dashboard{

}
.search{
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.search input{
  width: 60%;
  height: 40px;
  border-radius: 20px;
}
.search button{
  height: 40px;
  width: 15%;
  background: -webkit-linear-gradient(left, #9b59b6, #652491);
  border-radius: 20px;
  border-color: #9b59b6;
  color: #dda6f3;
}
.search button.addDoctor{
  background: -webkit-linear-gradient(left, #00c6ff, #1f6c81);
  border-color: #57a9c0;
  color: #043d4d;
}
.table{
  border: 1px solid #ccc;
}