
.wrapper-dashboard{
  align-items: unset !important;
  transform: translateY(10%) !important;
}
.list-dashboard ul a.active li::before{
  width: 100px;
}
.content-dashboard{

}
.search{
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.search input{
  width: 60%;
  height: 40px;
  border-radius: 20px;
}
.search button{
  height: 40px;
  width: 15%;
  background: -webkit-linear-gradient(left, #ee7926, #e58830);
  border-radius: 20px;
  border-color: #e879e0;
  color: #030203;
}
.search button.addDoctor{
  background: -webkit-linear-gradient(left, #ee7926, #e58830);
  border-color: #8acae0;
  color: #9bd2e1;
}
.table{
  border: 1px solid #ccc;
}